My second workflow.json
{
  "name": "My second workflow",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Request an installation",
        "formDescription": "Fill out this form to request an installation. We'll reach out to you via email if finalised for appointment.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Email Address",
              "fieldType": "email",
              "requiredField": true
            },
            {
              "fieldLabel": "Preferred Installation date",
              "fieldType": "date",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        0,
        0
      ],
      "id": "bad4e010-d5f2-4286-b03a-ab538406b365",
      "name": "On form submission",
      "webhookId": "41f92609-4687-42d0-ba88-3fc43ac67a9a"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "586c6cd6-3934-46de-b5ff-b9908829ca95",
              "leftValue": "={{ $json['Preferred Installation date'].toDateTime() }}",
              "rightValue": "={{ $now.plus(7,'days') }}",
              "operator": {
                "type": "dateTime",
                "operation": "beforeOrEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        240,
        0
      ],
      "id": "64295c34-09c9-4b87-b69a-3d6c4654861c",
      "name": "Is within seven days?"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        448,
        96
      ],
      "id": "49c8a77e-ca36-472d-98cd-49024d7d98f1",
      "name": "to do"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0A6K1G1UVB",
          "mode": "list",
          "cachedResultName": "all-swes-n8n"
        },
        "text": "=New installation request (within 7 days),\nContact email:{{ $json['Email Address'] }}\nPreferred install date:{{ $json['Preferred Installation date'] }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        448,
        -96
      ],
      "id": "6b7357d2-6fc6-4ffa-b138-a9eefe7a2792",
      "name": "Send a message",
      "webhookId": "99fba9f2-4891-44dd-b2ea-b0408ebba01e",
      "credentials": {
        "slackOAuth2Api": {
          "id": "Nqo2g86xUks4hFxP",
          "name": "Slack account"
        }
      }
    }
  ],
  "pinData": {
    "On form submission": [
      {
        "json": {
          "Email Address": "abcd1234@gmail.com",
          "Preferred Installation date": "2026-01-08",
          "submittedAt": "2026-01-04T11:03:29.890+05:30",
          "formMode": "test"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Is within seven days?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is within seven days?": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "to do",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b5453277-b803-41bf-9ab1-8ed955988fd4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "afd93c4de325908d2b5220fe4196f15fe1a5b6dccc006c57fd746072bf86e349"
  },
  "id": "PfZLEisUG2u3SZiA",
  "tags": []
}